<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Let This Webiste Help You Choose A Restaurant!</h2>
            <p><%= tagline %></p>
            
            <div>
                <p><a href="/choose">Randomly Select a Restaurant </a> <br> <br>
                <a href="/edit">Edit Friends or their Preferences</a></p>
            </div>

        </div>
    </main>


</body>
</html>